.container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px 4px 15px; 
}

.my{
    font-size: 20px;
    font-weight: 400;
}


.back::before{
    content: "\00276E";
}

.next::before{
    content: "\00276F";
}

.arrow{
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    margin-left: 10px;
    margin: 0;
    padding: 0;
    color: inherit;
    font: inherit;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border: none; 
}